cheetah-accelerator==0.7.1
gymnasium==0.29.1   # Fixed for now to prevent subprocess crashing
jupyter
matplotlib
opencv-python
rl_zoo3==2.3.0
SciencePlots
scipy
seaborn
stable-baselines3
tensorboard
trimesh
tqdm
wandb
websockets
